<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blogology</title>
	<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/css/output.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<nav class="mx-auto p-6 bg-neutral-600">
			<div class="flex items-center justify-between">
				<div class="pt-2 group">
					<i class="material-icons text-white text-1xl md:text-3xl lg:text-5xl md:group-hover:hidden">roofing</i>
					<a href="/" class="hidden md:group-hover:block text-white text-3xl">Home</a>
				</div>
				<div class="pt-2 ">
					<h1 class=" font-sans p-2 text-2xl md:text-4xl space-grotesk text-neutral-600 bg-white px-2 lg:text-7xl">Blogology 2.0</h1>
				</div>
				<div class="pt-2 group bg-">
					<div class="material-icons text-white text-1xl md:text-3xl lg:text-5xl md:group-hover:hidden">dashboard</div>
					<a href="/dashboard" class="hidden md:group-hover:block text-white text-3xl">Dashboard</a>

				</div>
			</div>
		</nav>
	</header>

	<section class="hero relative flex flex-col h-72 w-full">
		{{#if logged_in}}
			<a  id="logout" href ="#" class="absolute top-0 right-0 p-3 px-6 pt-2 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">Logout</a>
		{{else}}
			<a href="/login" class="p-3 px-6 pt-2 absolute top-0 left-0 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">Login</a>
			<a href="/signup" class="p-3 px-6 pt-2 absolute bottom-0 left-0 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">Sign Up</a>
		{{/if}}
	</section>


	<main>
		{{{body}}}
	</main>

	<footer>
	</footer>
	{{#if logged_in}}
	<script src="/js/logout.js"></script>
	{{/if}}
</body>
</html>