<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blogology</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
		<h1>BLOGOLOGY</h1>
		<nav>
			<ul>
				<li>
					<a href='/'>Home,</a>
				</li>
				
				{{!-- {{#if loggedIn}} --}}
				<li>
					<a href="/dashboard">dashboard</a>
				</li>
				<li>
					{{!-- <button class="no-button" id="logout">logout</button> --}}

					<a id="logout" href ="#">Logout</a>
				</li>
					
				{{!-- {{else}} --}}
				<li>
					<a href="/login">Login</a>
				</li>

				{{!-- login modal --}}



				<li>
					<a href="/signup">Sign Up</a>
				</li>

				{{!-- sign up modal --}}

				{{!-- {{/if}} --}}
					{{!-- <a href="/api/blogs">Blogs</a> --}}
			</ul>
		</nav>
	</header>
	<main class="container ">
		{{{body}}}
	</main>

	<footer>
	</footer>
{{!-- todo if logged in show logout script --}}
	{{!-- <script src="../../public/js/login.js"></script> --}}
	<script src="/js/logout.js"></script>
	<script src="/js/deleteBlog.js"></script>
</body>
</html>