<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blogology</title>
	<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/css/output.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<nav class="mx-auto p-6 bg-neutral-700">
			<div class="flex items-center justify-between">
				<div class="pt-2 group">
					<i class="material-icons text-white text-1xl md:text-3xl lg:text-5xl md:group-hover:hidden">roofing</i>
					<a href="/" class="hidden md:group-hover:block text-white text-3xl">Home</a>
				</div>
				<div class="pt-2 ">
					<h1 class=" font-sans p-2 text-2xl md:text-4xl space-grotesk text-neutral-600 bg-white px-2 lg:text-7xl">Blogology 2.0</h1>
				</div>
				<div class="pt-2 group">
					<div class="material-icons text-white text-1xl md:text-3xl lg:text-5xl md:group-hover:hidden">dashboard</div>
					{{#if logged_in}}
					<a href="/dashboard" class="hidden md:group-hover:block text-white text-3xl">Dashboard</a>
					{{else}}
					<button type="button" id="d-login-btn" class="hidden md:group-hover:block text-white text-3xl">Dashboard</a>
					{{/if}}
				</div>
			</div>
		</nav>
	</header>

	<section class="hero relative flex flex-col h-72 w-full">
		{{#if logged_in}}
			<a  id="logout" href ="#" class="absolute top-0 right-0 p-3 px-6 pt-2 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">Logout</a>
			<button type="button" id="new-blog-btn" class="absolute top-10 md:top-64 right-0 p-3 px-6 pt-2 md:-mt-3 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">New Post</button>
		{{else}}
			<button type="button" id="login-btn" class="p-3 px-6 pt-2 absolute top-0 left-0 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">Log In</button>
			<button type="button" id="sign-up-btn" class="p-3 px-6 pt-2 absolute bottom-0 left-0 text-neutral-700 bg-white opacity-75 font-bold text-xs md:text-base hover:bg-transparent hover:text-white">Sign Up</button>
		{{/if}}
	</section>


	<main>
		{{{body}}}
	</main>

{{!-- login modal --}}
	<div id="login-modal" class="hidden fixed z-10 inset-0">
		<div class="flex flex-col items-center justify-start">

			<div class="bg-neutral-700 w-full">
				<div class="flex justify-between items-center text-white">
					<h2 class="text-lg md:text-2xl p-3 space-grotesk">Log In.</h2>
					<button id="l-close-btn" class="px-3 hover:text-neutral-900 font-bold">&times;</button>
				</div>
			</div>

			<form class=" px-2 py-2 bg-white" action="/api/users/login" method="POST">
				<div class="mb-4">
					<label for="username"class="block text-sm font-medium text-neutral-700 ">Username</label>
					<input type="text" id="username" name="username" placeholder="username" class="mt-1 block w-full px-3 py-2 border border-neutral-300 border- focus:outline-none focus:border-neutral-700 text-sm">
				</div>
				<div class="mb-4">
					<label for="password"class="block text-sm font-medium text-neutral-700">Password</label>
					<input type="text" id="password" name="password" placeholder="*******" class="mt-1 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm">
				</div>

				<div class="flex justify-between space-x-2">
					<button type="button" id="l-cancel-btn" class="font-bold py-2 px-4 bg-neutral-400 text-white hover:text-neutral-950" >Cancel</button>
					<button type="submit" id="login-btn" class="font-bold py-2 px-4 bg-neutral-600 text-white hover:text-neutral-950" >Log in</button>
				</div>
			</form>
		</div>
	</div>

{{!-- signup modal --}}
	<div id="signup-modal" class="hidden fixed z-10 inset-0">
		<div class="flex flex-col items-center justify-start">

			<div class="bg-neutral-700 w-full">
				<div class="flex justify-between items-center text-white">
					<h2 class="text-lg md:text-2xl p-3 space-grotesk">Log In.</h2>
					<button id="s-close-btn" class="px-3 hover:text-neutral-900 font-bold">&times;</button>
				</div>
			</div>

			<form class=" px-2 py-2 bg-white" action="/api/users/signup" method="POST">
				<div class="mb-4">
					<label for="username"class="block text-sm font-medium text-neutral-700 ">Username</label>
					<input type="text" id="username" name="username" placeholder="username" class="mt-1 block w-full px-3 py-2 border border-neutral-300 border- focus:outline-none focus:border-neutral-700 text-sm">
				</div>
				<div class="mb-4">
					<label for="password"class="block text-sm font-medium text-neutral-700">Password</label>
					<input type="text" id="password1" name="password1" placeholder="*******" class="mt-1 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm">
				</div>
				<div class="mb-4">
					<label for="password"class="block text-sm font-medium text-neutral-700">Password</label>
					<input type="text" id="password2" name="password2" placeholder="*******" class="mt-1 block w-full px-3 py-2 border border-neutral-300 focus:outline-none focus:border-neutral-700 text-sm">
				</div>

				<div class="flex justify-between space-x-2">
					<button type="button" id="s-cancel-btn" class="font-bold py-2 px-4 bg-neutral-400 text-white hover:text-neutral-950" >Cancel</button>
					<button type="submit" id="login-btn" class="font-bold py-2 px-4 bg-neutral-600 text-white hover:text-neutral-950" >Log in</button>
				</div>
			</form>
		</div>
	</div>


	<footer>
	</footer>
	{{!-- todo set d-login button to only load if not logged in --}}
	<script src="/js/userModals.js"></script>
	{{#if logged_in}}
	<script src="/js/logout.js"></script>
	{{/if}}
</body>
</html>