
	<h1>Welcome to Your Dashboard</h1>
	{{!-- ?do not need this --}}
	<h2>Your Blogs</h2>
	{{#if blogs.length}}
		<ul>
			{{#each blogs as |blog|}}
				<li>{{this.title}}</li>
				<button type="button" id="edit-blog-btn"><data-blog-id="{{blogs.blog_id}}">Edit</button>
				<button type="button" id="delete-blog-btn" data-blog-id="{{this.blog_id}}">Delete</button>
			{{/each}}
		</ul>
	{{else}}
		<p>No blogs found.</p>
	{{/if}}
	
	</a><button type="button" id="new-blog"><a href="api/blogs/newBlog">Create New Blog </a></button>
</body>
</html>