{{!-- <form class="form update-blog-form">
	<h2>Update Blog</h2>
	<div class="form-element">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" value="{{title}}">
	</div>
	<div class="form-element">
		<label for="text">Content</label>
		<textarea type="text" id="text" name="text" >{{text}}</textarea>
	</div>
	<div>
		<button type="button" id="update-blog-btn" data-blog-id="{{blog_id}}"> Submit</button>
		<button id="close-btn"><a href="/dashboard"> Cancel </a></button>
	</div>
</form> --}}

{{!-- <script src="/js/editBlog.js"></script> --}}
