{{!-- <div class="modal"> --}}
	{{!-- <div class="close-btn">&times;</div> --}}

	<form class="form login-form" action="/api/users/login" method="POST">
		<h2>Log in!</h2>
		<div class="form-element">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" placeholder="username">
		</div>
		<div class="form-element">
			<label for="password">Password</label>
			<input type="password" id="password1" name="password" placeholder="********">
		</div>
		<div>
			<button type="submit" id="login-btn">Login</button>
			{{!-- <button type="reset" (or clear) id="close-btn">Cancel</button> --}}
		</div>
	</div>
</div>


<script src="./js/login.js"></script>
