<form class="form new-blog-form" action="/api/blogs/newBlog" method="POST">
	<h2>Create Blog</h2>
	<div class="form-element">
		<label for="title">Title</label>
		<input type="text" id="title" name="title" placeholder="Title">
	</div>
	<div class="form-element">
		<label for="content">Content</label>
		<textarea type="text" id="text" name="text" placeholder="Start writing here"></textarea>
	</div>
	<div>
		<button type="submit" id="new-blog-btn">Submit</button>
		{{!-- <button id="close-btn">Cancel</button> --}}
	</div>
</form>
