{{!-- <div class="modal"> --}}
	{{!-- <div class="close-btn">&times;</div> --}}

	<form class="form signup-form">
		<h2>Sign up!</h2>
		<div class="form-element">
			<label for="username">Username</label>
			<input type="text" id="username" placeholder="username">
		</div>
		<div class="form-element">
			<label for="password">Password</label>
			<input type="password" id="password1" placeholder="********">
		</div>
		<div class="form-element">
			<label for="password">Password</label>
			<input type="password" id="password2" placeholder="********">
		</div>
		<div>
			<button id="sign-up-btn">Sign Up</button>
			{{!-- <button id="close-btn">Cancel</button> --}}
		</div>
	</div>
</div>


<script src="./js/login.js"></script>
