<div class="center">
	<button id="sign-up-btn">Sign up</button>
</div>
<div class="modal">
	<div class="close-btn">&times;</div>
	<form action="/signup">
		<h2>Sign up!</h2>
		<div class="form-element">
			<label for="username">Username</label>
			<input type="submit" id="username" placeholder="username">
		</div>
		<div class="form-element">
			<label for="password">Password</label>
			<input type="submit" id="password" placeholder="********">
		</div>
	<button id="sign-up-btn">Sign Up</button>
	<button id="close-btn">Cancel</button>
	</div>

</div>