@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
	background-image: url('../images/story.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.space-grotesk{
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

